<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Global Logout from VAuthenticator...</title>
</head>
<body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var federatedServers = [[${federatedServers}]];
    federatedServers
        .forEach(function (logoutUrl) {
            $.ajax({
                method: "POST",
                url: logoutUrl
            })
        });

    var getParams = function (url) {
        var params = {};
        var parser = document.createElement('a');
        parser.href = url;
        var query = parser.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params;
    };

    var params = getParams(window.location.href);
    var redirectUri = params["post_logout_redirect_uri"];

    console.log("redirectUri: " + redirectUri)
    window.top.location.href = redirectUri
    /*]]>*/
</script>
</body>
</html>