<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Logout from VAuthenticator...</title>
</head>
<body>

</body>
<div id="logoutBox">

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let federatedServers = [[${federatedServers}]];
    let logoutIframe = document.createElement("iframe")

    const newLogoutIFrame = (logoutUrl) => {
        let clone = logoutIframe.cloneNode(true);
        clone.attr("src", logoutUrl);
        clone.attr("style", "visibility: hidden;");
        return clone;
    }

    federatedServers
        .forEach((logoutUrl) => {
            document.querySelector("#logoutBox")
                .append(newLogoutIFrame(logoutUrl));
        })

    let getParams = (url) => {
        let params = {};
        let parser = document.createElement('a');
        parser.href = url;
        let query = parser.search.substring(1);
        let lets = query.split('&');
        for (let i = 0; i < lets.length; i++) {
            let pair = lets[i].split('=');
            params[pair[0]] = decodeURIComponent(pair[1]);
        }
        return params;
    };

    let params = getParams(window.location.href);
    let redirectUri = params["post_logout_redirect_uri"];

    setInterval(function (){
        console.log("redirectUri: " + redirectUri)
        window.top.location.href = redirectUri
    }, 1000)
    /*]]>*/
</script>
</html>