<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.apache" level="ERROR"/>
    <logger name="httpclient" level="ERROR"/>
</configuration>